.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.Instructions{
    float: right;
    border: 1px solid white;
}
.big_image{
    width: 100%;
}
#start,status{
    font-size: 22px;
}
.modal-dialog{
    width: 90%;
    background-color: white;
    height: 30%;
}
.image-instruction{
    display: inline-block;
    width: 45%;
}